.participants{
    width: 100%;
    height: 100vh;
    overflow-x : hidden;
    overflow-y: hidden;
  }

  .mountains{
    position: fixed;
    width: 100%;
    height: 400px;
    background-image: url(/public/images/Monta-1\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
  }

  .colonnes{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1 ;
    padding: 0;
    h1{
      left: 20px;
    }
  }
  .colonneOne{
    width: 50%;
    height: 100%;
    position:absolute;
    right:0;
    background-image: url(/public/images/colonneVitesse.png);
    background-repeat: repeat-y;
    background-size:cover;
    margin-left: 650px;
  }

  .colonneTwo{
    width: 50%;
    height: 100%;
    position:absolute;
    left:0;
    background-image: url(/public/images/colonneDifficulte2.png);
    background-repeat: no-repeat;
    background-size:contain;
  }

