.participants{
    width: 100%;
    height: 100vh;
    overflow-x : hidden;
  }

  .mountains{
    position: fixed;
    width: 100%;
    height: 300px;
    background-image: url(/public/images/Monta-1\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
  }
